html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: Tahoma;
  /*
  margin-left: 4em;
  margin-right: 4em;
  */
  box-sizing: border-box;
}

.background {
  margin-left: -6px;
  margin-right: -8px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h2 {
  margin-left: 6em;
  margin-right: 6em;
}

ul {
  margin-left: 10em;
  margin-right: 10em;
}

.hero {
  position: relative;
  width: 100;
  margin-left: 4em;
}

nav {
  margin-top: -8px;
  padding-top: 30px;
  display: flex;
  width: 84%;
  justify-content: space-between;

}

nav ul li {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  right: -200px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #70AECC;
}

.home {
  position: relative;
  left: -275px;
}

.bio {
  margin-left: 9em;
  margin-top: 13%;
  transform: translateY(-70px);
}

.bio h1 {
  font-size: 55px;
  color: #212121;
}

span {
  color: #70aecc;
  font-size: 70px;
}

.bio p {
  clear: right;
  font-size: 20px;
  color: #555;
  line-height: 22px;
}

.images {
  width: 30%;
  height: 60%;
}

.images img {
  top: 25%;
  right: 10%;
  position: absolute;
  float: right;
  transform: translateX(-30%);
  transition: .8s ease;
}

.images .shape {
  top: 23%;
  transform: translateY(50px);
  transform: translateX(-130px);
}

.images:hover .shape {
  right: 290px;
  transform: translateY(40px);
}

.images:hover .me {
  /*transform: scale(1.08);*/
  transform: translateX(-130px);
}

@media only screen and (max-width: 1200px) {
  body {
    margin-left: -6em;
    font-size: 75%;
  }

  .bio h1 {
    font-size: 95%;
  }
  
  .bio p {
    font-size: 95%;
  }

  span {
    font-size: 40px;
  }

  nav ul li {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    right: -80px;
  }

  .home {
    left: -150px;
  }

  .images:hover .shape {
    right: 190px;
    transform: translateY(40px);
  }
}
