body {
  background: #fff;
  font-family: Tahoma;
  margin-left: 4em;
  margin-right: 4em;
  box-sizing: border-box;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h2 {
  margin-left: 6em;
  margin-right: 6em;
}

ul {
  margin-left: 9em;
  margin-right: 9em;
}

.hero {
  position: relative;
  width: 100;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #70AECC;
}

.home {
  position: relative;
  left: -200px;
}

.bio {
  margin-left: 8%;
  margin-top: 13%;
  transform: translateY(-70px);
}

.bio h1 {
  font-size: 55px;
  color: #212121;
}

span {
  color: #70aecc;
  font-size: 70px;
}

.bio p {
  font-size: 20px;
  color: #555;
  line-height: 22px;
}

.image {
  width: 30%;
  height: 60%;
  top: 260px;
  right: 50px;
}

.image img {
  right: 14%;
  position: absolute;
  float: right;
  bottom: 0;
  transition: .7s ease;
}

.image:hover .me {
  transform: scale(1.08);
}

