html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: Tahoma;
  box-sizing: border-box;
}

.background {
  margin-left: -6px;
  margin-right: -8px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h2 {
  margin-left: 6em;
  margin-right: 6em;
}

ul {
  margin-left: 10em;
  margin-right: 10em;
}

.hero {
  position: relative;
  width: 100;
  margin-left: 4em;
}

nav {
  margin-top: -8px;
  padding-top: 30px;
  display: flex;
  width: 84%;
  justify-content: space-between;
}

nav ul li {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  right: -10em;
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #70AECC;
}

.home {
  position: relative;
  left: -14em;
}

.bio {
  margin-left: 9em;
  margin-top: 13%;
  transform: translateY(-70px);
}

.bio h1 {
  font-size: 55px;
  color: #212121;
}

span {
  color: #70aecc;
  font-size: 70px;
}

.bio p {
  clear: right;
  font-size: 20px;
  color: #555;
  line-height: 22px;
}

.images img {
  top: 25%;
  right: 10%;
  position: absolute;
  float: right;
  transform: translateX(-30%);
  transition: .8s ease;
}

.images .shape {
  width: 16%;
  top: 23%;
  right: 8.5%;
  transform: translateY(10%);
  transform: translateX(-47%);
}

.images:hover .shape {
  right: 16%;
  transform: translateY(10%);
}

.images:hover .me {
  /*transform: scale(1.08);*/
  transform: translateX(-44%);
}

@media only screen and (max-width: 1300px) {
  span {font-size: 70px;}
  .bio h1 {font-size: 60px;}
  .bio p {font-size: 15px;}

  .images .shape {
    right: 9.5%;
  }

  .images:hover .shape {
    right: 15%;
    transform: translateY(18%);
  }

  nav ul {
    position: relative;
    display: inline-flex;
  }
}

@media only screen and (max-width: 900px) {
  span {font-size: 40px;}
  .bio h1 {font-size: 38px;}
  .bio p {font-size: 99%;}

  nav ul {
    position: relative;
    display: inline-flex;
  }
}

@media only screen and (max-width: 700px) {

  nav ul {
    position: relative;
    display: inline-flex;
  }

  nav {
    margin-left: -15em;
  }

  .home {
    left: -5em;
  }
}

